*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body{
    width: 100%;
    height: 100%;


}
#main{
    display: flex;
    width: 100%;
    height: 100%;


}
#left{
    
    position: relative;
    width: 40%;
    height: 100%;

}
#lnav{
    background-color: green;
    color: white;
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}
#lnavr{
    color: white;
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
#lnavr i{
    color: royalblue;
}
#left #textcenter{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: 0.6;
    font-size: 14px;
    line-height: 20px;
    margin-top: 9px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
    font-size: 13px;
    opacity: 0.6;
}

#right{

    width: 60%;
    height: 100%;
    background-color: brown;
}
#rtop{
display: flex;
    width: 100%;
    height: 50%;
  
}


#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url("https://media.prod.bunnings.com.au/api/public/content/aa4b5a78e66b420ebd738a253887ac32?v=ff47007c");

    background-size: cover;  
    background-position: center;
}
#rtopright{
    width: 45%;
    height: 100%;
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.jvj7rsVpJFviouU9Ymeo-QHaE7&pid=Api&P=0&h=220");

    background-position: center;
     background-size: cover;
}
    
#rbottom{
    width: 100%;
    height: 50%;
 background-image: url("https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,w_1460/k/archive/7ef81e7e83b98405987fa307b0a706479d19f003");

    background-position: center;
    background-size: cover;
}
#footer{
    background-color: green;
    color: white;
    width: 100%;
    height: 50px;
}
#footer p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
@media (max-width:660px){
    #main {
        flex-direction: column;
    }
    #main , #left{
        width: 100%;
    }
    
    #main , #right{
        width: 100%;
    }
    #textcenter h1{
        font-size: 20px;
        padding-top: 20px;
        margin-top: 80px;
    }
    #textcenter p{
        font-size: 9px;
        
    }

    
}